# Ignore node_modules in both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Ignore build artifacts
client/build/
server/dist/

# Ignore environment files
*.env

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db
