.password-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .eye-button {
    position: absolute;
    color: black;
    right: 10px;
    top: 12%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
  }
}